
.display-style {
  text-align: center;
  margin-top: -8px;
  margin-bottom: -8px;
}
.frac {
  display: inline-table;
  vertical-align: middle;
}
.fracouter {
  display: table-row;
}
.fracnum {
  display: table-cell;
  border-bottom: 1px solid #000;
  padding: 0 3px;
}
.fracden {
  display: table-cell;
  padding: 0 3px;
}

.tm15 {
  margin-top: 15px;
}
.kern1 {
  display: inline-block;
  width: 1px;
}
.kern3 {
  display: inline-block;
  width: 3px;
}
